<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contactUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="circle"></div>
    <img class="list-img" src="/images/undraw_chatting_5u5z.svg" alt="">
    <div class="list">
        <div class="img">
            <h1>Contact Us</h1>
            <p>
                Enter your poblem we will resolve as soon as posible<br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi autem eaque libero nulla nobis at reprehenderit iure possimus corrupti odio. Quos alias repellat atque cumque qui, dicta corrupti voluptates! Quaerat!
                Eius maiores aliquam est culpa doloremque minima, ea ex vitae laborum aut consequuntur, possimus sit tempore animi, sequi exercitationem beatae velit dolor facilis officia et quibusdam unde. Eius, nostrum soluta.
                Non aliquam deleniti laudantium sint ad possimus aspernatur, quia, minima voluptatum dolor deserunt at. Dolore, ea cumque, aperiam nobis rerum non quisquam sed minus asperiores voluptates eius modi consectetur dolores!
             </p>
        </div>
        <div class="data">
            <h1>Details</h1>
            <form action="/server">
                <div>
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="Name">
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" placeholder="Enter your Gmail Id">
                </div>
                <div>
                    <textarea placeholder="Enter Your query"  rows="5" cols="30"></textarea>
                </div>
            </form>
            <div class="data-btn">
                <a href="/"><button class="data-btn1">Cancel</button></a>
                <button class="data-btn2">Send <i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
        
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script>
    <script src="/js/popup.js"></script>
</body>
</html>