<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/landing-beach.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >  
    <!-- main head -->
    <header class="mainHead">
        <div class="main-logo">
            <h1>ZeRa</h1>
        </div>
        <div class="home">
            <ul type="none">
                <li><a href="/">Home</a></li>
                <li><a href="#target-section">About</a></li>
                <li><a href="/contact">Conctact</a></li>
                <li><a href="/faq">FAQs</a></li>
            </ul>
            <div class="btn">
                <button type="button"><i class="fa-solid fa-bars"></i></button>
                
            </div>

            <!-- nav-bar -->
            <div class="nav">
                <div class="close"><i class="fa-solid fa-xmark"></i></div>
                <ul type="none">
                    <li><h4><a href="/landing-beach">Beach Resort</a></h4></li>
                    <li><h4><a href="/landing-city">City Resort</a></h4></li>
                    <li><h4><a href="/landing-hill">Hill Resort</a></h4></li>
                    <li><h4><a href="/landing-greenery">Greenry Resort</a></h4></li>
                    <li><h4><a href="/desert">Adventurous Resort</a></h4></li>
                </ul>
            </div>

        </div>
    </header>

    <!-- sliding-img -->
    
    <div class="slide-img">
        <video src="/vids/adventure.mp4" height="650" width="100%" control="controls" autoplay loop muted></video>
      </div>
      

     <!-- Beach -->

     <form id="bookForm" action="/payment" method="POST" style="display: none;">
        <input type="hidden" name="beach" id="beachInput">
      </form>
      
  <div class="beach-bar">
    <div>
        <h1 style="margin: 34px;" class="beach-text">Explore Our Adventurous Resort</h1>
    </div>
    
    <div class="img-beach">
        <img class="b-img1" src="https://w0.peakpx.com/wallpaper/4/278/HD-wallpaper-lake-hotel-house-shore-cabin-beautiful-mirrored-leaves-nice-green-river-reflection-hotel-forest-lovely-greenery-lake-mounbtain-summer-nature-lakeshore.jpg" alt="">
        <img class="b-img2" src="https://img.freepik.com/free-photo/san-diego-dawn-early-morning-with-palm-tree-silhouette_649448-2514.jpg?ga=GA1.1.570659143.1744130742&semt=ais_hybrid&w=740" alt="">
        <img class="b-img3" src="/images/adv1.webp" alt="">
    </div>
  </div>

  <div class="beach-site">
        <div class="all-left-right-detail">
            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1>Sahara Beach</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="/images/adv1.webp" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="/images/adv2.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1>Caravela Beach Resort</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>

            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1>Langkawi</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="/images/adv3.webp" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="/images/adv5.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1>Cancun</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>
        </div>
        

    </div>

    <div class="beach-site">
        <div class="all-left-right-detail">
            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1>Sahara Beach</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="/images/adv4.jpg" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="/images/adv5.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1>Caravela Beach Resort</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>

            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1>Langkawi</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="/images/adv5.jpg" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="/images/adv6.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1>Cancun</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>
        </div>
        

    </div>

    <div class="beach-site">
        <div class="all-left-right-detail">
            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1>Sahara Beach</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="/images/adv1.webp" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="/images/adv8.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1 >Caravela Beach Resort</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>

            <div class="beach-ditail left-detail">
                <div class="reosrt-detail">
                    <h1>Langkawi</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="detail-right-image-box">
                    <img class="right-img" src="/images/adv9.jpg" alt="">
                </div>
            </div>
    
            <div class="beach-ditail right-detail">
                <div class="detail-left-image-box">
                    <img class="left-img" src="/images/adv10.jpg" alt="">
                </div>
                <div class="reosrt-detail">
                    <h1 >Cancun</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro eos aliquam officia blanditiis ducimus officiis nam deleniti sed libero sapiente sequi aperiam, quas, non voluptate dolore consequatur veritatis repellendus.</p>
                    <span><i class="fa-solid fa-location-dot"></i><p>England</p></span>
                    <span><i class="fa-solid fa-indian-rupee-sign"></i><p>1500/day</p></span>
                    <button class="book-btn">Book Now</button>
                </div>
            </div>
        </div>
        

    </div>

        <!-- footer -->
        <section id="target-section">
        <footer>
            <div class="about">
                <h2>About Us</h2>
                <div class="line"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Cumque aut, asperiores expedita omnis perferendis tenetur
                      iste assumenda ipsam dolor neque quaerat nesciunt voluptatibus vel. Qui ipsam deserunt rem sint assumenda.
                </p>
    
                <div class="icons">
                    <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                    <div class="icon"><i class="fa-brands fa-twitter"></i></div>
                    <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon"><i class="fa-brands fa-youtube"></i></div>
                </div>
            </div>
            
            <div class="quick-link">
                <h2>Quick Links</h2>
                <div class="line"></div>
                <ul type="none">
                    <li><a>About</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Privacy Police</a></li>
                    <li><a>Help</a></li>
                    <li><a>Terms Condition</a></li>
                    <li><a>Contact</a></li>
                </ul>
            </div>
            <div class="contact">
                <h2>contact Us</h2>
                <div class="line"></div>
                <h4><i class="fa-solid fa-location-dot"></i>548 Garia,Kolkata,west-bangle</h4>
                <h4><i class="fa-solid fa-phone"></i>+8936054783</h4>
                <h4><i class="fa-solid fa-envelope"></i>unknown@gmail.com</h4>
            </div>
         </footer>
        </section>

  <script src="/js/landing.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>